@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boldins';
  src: url('/fonts/Boldins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    @apply bg-background text-center p-10;
}

h1 {
    @apply text-primary font-boldins text-4xl m-3;
}

a {
	@apply text-text m-auto bg-secondary rounded px-3 py-2;
}

p {
	@apply text-text;
}

h3 {
	@apply text-text;
}

th {
	@apply text-text;
}

td {
	@apply text-text;
}

input {
	@apply rounded px-2 m-3;
}

button {
    @apply mt-5 px-4 py-2 bg-accent text-white rounded;
}

.link-user {
	@apply bg-transparent text-text font-bold;
}
